In [1]:
import pandas as pd

In [2]:
stats = pd.read_csv("player_mvp_stats.csv")

In [3]:
stats

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
1,1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
2,2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
4,4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14692,14692,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14693,14693,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14694,14694,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14695,14695,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14696,14696,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [4]:
del stats["Unnamed: 0"]

In [5]:
pd.isnull(stats)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14692,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14693,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14694,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14695,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14696,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [6]:
pd.isnull(stats).sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          59
3P            0
3PA           0
3P%        2086
2P            0
2PA           0
2P%         100
eFG%         59
FT            0
FTA           0
FT%         521
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [7]:
stats[pd.isnull(stats["3P%"])][["Player", "3PA"]]

                 Player  3PA
2        Elden Campbell  0.0
3         Irving Thomas  0.0
18           Jack Haley  0.0
20          Keith Owens  0.0
30      Benoit Benjamin  0.0
...                 ...  ...
14666    Evan Eschmeyer  0.0
14667  Gheorghe Mureșan  0.0
14669     Jim McIlvaine  0.0
14675  Mark Hendrickson  0.0
14676      Michael Cage  0.0

[2086 rows x 2 columns]

In [8]:
stats[pd.isnull(stats["FT%"])][["Player", "FTA"]]

                Player  FTA
77          John Coker  0.0
92        Jason Sasser  0.0
103    Adrian Caldwell  0.0
119       Bruno Šundov  0.0
158     Jamal Robinson  0.0
...                ...  ...
14556    Mark McNamara  0.0
14584      Luke Zeller  0.0
14637      Myron Brown  0.0
14659      Malcolm Lee  0.0
14693      Steve Novak  0.0

[521 rows x 2 columns]

In [9]:
stats = stats.fillna(0)

In [10]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [11]:
predictors = ['Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year', 'W', 
       'L', 'W/L%', 'GB', 'PS/G','PA/G', 'SRS']

In [12]:
train = stats[stats["Year"] < 2022]

In [13]:
test = stats[stats["Year"] == 2022]

In [14]:
from sklearn.linear_model import Ridge

reg = Ridge(alpha=.1)

In [15]:
reg.fit(train[predictors], train["Share"])

Ridge(alpha=0.1)

In [16]:
predictions = reg.predict(test[predictors])

In [17]:
predictions = pd.DataFrame(predictions, columns=["Predictions"], index=test.index)

In [18]:
predictions

       Predictions
648       0.012934
649      -0.028142
650      -0.006163
651       0.016564
652      -0.004820
...            ...
12508    -0.019380
12509    -0.010196
12510     0.003810
12511     0.001162
12512    -0.057006

[605 rows x 1 columns]

In [19]:
combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)

In [20]:
combination

                Player  Share  Predictions
648       Aaron Gordon    0.0     0.012934
649      Austin Rivers    0.0    -0.028142
650            Bol Bol    0.0    -0.006163
651       Bones Hyland    0.0     0.016564
652        Bryn Forbes    0.0    -0.004820
...                ...    ...          ...
12508     Micah Potter    0.0    -0.019380
12509  Rodney McGruder    0.0    -0.010196
12510        Saben Lee    0.0     0.003810
12511       Saddiq Bey    0.0     0.001162
12512   Trayvon Palmer    0.0    -0.057006

[605 rows x 3 columns]

In [21]:
combination.sort_values("Share", ascending=False).head(10)

                      Player  Share  Predictions
663             Nikola Jokić  0.875     0.190365
837              Joel Embiid  0.706     0.190462
11678  Giannis Antetokounmpo  0.595     0.219410
907             Devin Booker  0.216     0.091309
11469            Luka Dončić  0.146     0.157395
1179            Jayson Tatum  0.043     0.095902
12226              Ja Morant  0.010     0.120508
6398           Stephen Curry  0.004     0.093138
905               Chris Paul  0.002     0.078329
8241            LeBron James  0.001     0.157828

In [22]:
from sklearn.metrics import mean_squared_error

mean_squared_error(combination["Share"], combination["Predictions"])

0.0022402416025650816

In [23]:
combination["Share"].value_counts()

0.000    593
0.001      3
0.875      1
0.706      1
0.002      1
0.216      1
0.043      1
0.004      1
0.146      1
0.595      1
0.010      1
Name: Share, dtype: int64

In [24]:
combination = combination.sort_values("Share", ascending=False)
combination["Rk"] = list(range(1,combination.shape[0]+1))

In [25]:
combination.head(10)

                      Player  Share  Predictions  Rk
663             Nikola Jokić  0.875     0.190365   1
837              Joel Embiid  0.706     0.190462   2
11678  Giannis Antetokounmpo  0.595     0.219410   3
907             Devin Booker  0.216     0.091309   4
11469            Luka Dončić  0.146     0.157395   5
1179            Jayson Tatum  0.043     0.095902   6
12226              Ja Morant  0.010     0.120508   7
6398           Stephen Curry  0.004     0.093138   8
905               Chris Paul  0.002     0.078329   9
8241            LeBron James  0.001     0.157828  10

In [26]:
combination = combination.sort_values("Predictions", ascending=False)
combination["Prediction_Rk"] = list(range(1,combination.shape[0]+1))

In [27]:
combination.head(10)

                      Player  Share  Predictions   Rk  Prediction_Rk
11678  Giannis Antetokounmpo  0.595     0.219410    3              1
837              Joel Embiid  0.706     0.190462    2              2
663             Nikola Jokić  0.875     0.190365    1              3
8241            LeBron James  0.001     0.157828   10              4
11469            Luka Dončić  0.146     0.157395    5              5
6185            Kevin Durant  0.001     0.140627   12              6
12226              Ja Morant  0.010     0.120508    7              7
11820             Trae Young  0.000     0.109246  289              8
8231           Anthony Davis  0.000     0.107306  112              9
836             James Harden  0.000     0.103584  393             10

In [28]:
combination.sort_values("Share", ascending=False).head(10)

                      Player  Share  Predictions  Rk  Prediction_Rk
663             Nikola Jokić  0.875     0.190365   1              3
837              Joel Embiid  0.706     0.190462   2              2
11678  Giannis Antetokounmpo  0.595     0.219410   3              1
907             Devin Booker  0.216     0.091309   4             17
11469            Luka Dončić  0.146     0.157395   5              5
1179            Jayson Tatum  0.043     0.095902   6             13
12226              Ja Morant  0.010     0.120508   7              7
6398           Stephen Curry  0.004     0.093138   8             15
905               Chris Paul  0.002     0.078329   9             21
3938           DeMar DeRozan  0.001     0.099241  11             11

In [29]:
def find_ap(combination):
    actual = combination.sort_values("Share", ascending=False).head(5)
    predicted = combination.sort_values("Predictions", ascending=False)
    ps = []
    found = 0
    seen = 1
    for index, row in predicted.iterrows():
        if row["Player"] in actual["Player"].values:
            found += 1
            ps.append(found/seen)
        seen += 1
    return sum(ps) / len(ps)

In [30]:
find_ap(combination)

0.8188235294117646

In [31]:
years = list(range(1991, 2023))

In [32]:
aps = []
all_predictions = []
for year in years[5:]:
    train = stats[stats["Year"] < year]
    test = stats[stats["Year"] == year]
    reg.fit(train[predictors], train["Share"])
    predictions = reg.predict(test[predictors])
    predictions = pd.DataFrame(predictions, columns=["Predictions"], index=test.index)
    combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
    all_predictions.append(combination)
    aps.append(find_ap(combination))

In [33]:
sum(aps) / len(aps)

0.7152712173135063

In [34]:
def add_ranks(combination):
    combination = combination.sort_values("Share", ascending=False)
    combination["Rk"] = list(range(1,combination.shape[0]+1))
    combination = combination.sort_values("Predictions", ascending=False)
    combination["Prediction_Rk"] = list(range(1,combination.shape[0]+1))
    combination["Diff"] = combination["Rk"] - combination["Prediction_Rk"]
    return combination

In [35]:
ranking = add_ranks(all_predictions[1])
ranking[ranking["Rk"] < 6].sort_values("Diff", ascending=False)

               Player  Share  Predictions  Rk  Prediction_Rk  Diff
1710      Karl Malone  0.857     0.192318   1              2    -1
10976  Michael Jordan  0.832     0.167629   2              3    -1
970        Grant Hill  0.327     0.128646   3              6    -3
4912     Tim Hardaway  0.207     0.059984   4             20   -16
8642        Glen Rice  0.117     0.033110   5             53   -48

In [36]:
def backtest(stats, model, year, predictors):
    aps = []
    all_predictions = []
    for year in years[5:]:
        train = stats[stats["Year"] < year]
        test = stats[stats["Year"] == year]
        model.fit(train[predictors], train["Share"])
        predictions = reg.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns=["Predictions"], index=test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps)/len(aps), aps, pd.concat(all_predictions)

In [37]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [38]:
mean_ap

0.7152712173135063

In [39]:
all_predictions[all_predictions["Rk"] <= 5].sort_values("Diff").head(10)

                 Player  Share  Predictions  Rk  Prediction_Rk  Diff
1334         Jason Kidd  0.712     0.028210   2             52   -50
8642          Glen Rice  0.117     0.033110   5             53   -48
5420         Steve Nash  0.839     0.034100   1             45   -44
8910    Peja Stojaković  0.228     0.036270   4             38   -34
13331       Joakim Noah  0.258     0.046968   4             37   -33
5438         Steve Nash  0.739     0.054129   1             34   -33
3849   Chauncey Billups  0.344     0.052696   5             35   -30
1499         Chris Paul  0.138     0.072293   5             33   -28
5453         Steve Nash  0.785     0.074421   2             21   -19
4912       Tim Hardaway  0.207     0.059984   4             20   -16

In [40]:
reg.coef_

array([ 2.93735224e-04,  9.32496060e-05,  4.36070215e-06, -4.06678753e-03,
        3.35298556e-03,  4.82731071e-03, -1.55936167e-01,  1.70143855e-03,
       -9.68145388e-03, -9.69457504e-03,  1.64556965e-02, -1.64638115e-02,
        7.05375427e-03,  8.78520556e-02, -6.34362495e-03,  1.04141393e-02,
       -4.78392544e-03,  2.09926485e-02,  3.38603376e-02, -2.65779402e-02,
        7.11287673e-03,  1.20701548e-02,  1.09007744e-02, -9.14249968e-03,
       -2.62455552e-03,  6.91794892e-03, -1.79966961e-04,  1.35851205e-04,
       -3.16068141e-04,  2.31975716e-02,  2.79407205e-04, -4.94261748e-04,
       -2.74860936e-04, -5.69253506e-04])

In [42]:
pd.concat([pd.Series(reg.coef_), pd.Series(predictors)], axis=1).sort_values(0, ascending=False)

           0     1
13  0.087852  eFG%
18  0.033860   DRB
29  0.023198  W/L%
17  0.020993   ORB
10  0.016456    2P
21  0.012070   STL
22  0.010901   BLK
15  0.010414   FTA
20  0.007113   AST
12  0.007054   2P%
25  0.006918   PTS
5   0.004827   FGA
4   0.003353    FG
7   0.001701    3P
0   0.000294   Age
30  0.000279    GB
27  0.000136     W
1   0.000093     G
2   0.000004    GS
26 -0.000180  Year
32 -0.000275  PA/G
28 -0.000316     L
31 -0.000494  PS/G
33 -0.000569   SRS
24 -0.002625    PF
3  -0.004067    MP
16 -0.004784   FT%
14 -0.006344    FT
23 -0.009142   TOV
8  -0.009681   3PA
9  -0.009695   3P%
11 -0.016464   2PA
19 -0.026578   TRB
6  -0.155936   FG%

In [43]:
stat_ratios = stats[["PTS", "AST", "STL", "BLK", "3P", "Year"]].groupby("Year").apply(lambda x: x/x.mean())

In [44]:
stat_ratios

            PTS       AST       STL       BLK        3P  Year
0      1.013334  0.420714  0.961127  0.673469  0.508587   1.0
1      1.614653  1.028412  1.647646  0.673469  4.577279   1.0
2      0.311795  0.093492  0.274608  1.571429  0.000000   1.0
3      0.200440  0.186984  0.274608  0.000000  0.000000   1.0
4      2.383005  1.636110  1.784950  0.897959  1.525760   1.0
...         ...       ...       ...       ...       ...   ...
14692  0.735752  0.819562  0.479763  1.528302  0.650951   1.0
14693  0.071202  0.000000  0.000000  0.000000  0.130190   1.0
14694  1.281633  0.601012  1.119447  2.547170  0.520761   1.0
14695  0.474679  0.218550  0.319842  1.273585  0.650951   1.0
14696  1.008693  0.655649  1.119447  0.509434  2.343424   1.0

[14697 rows x 6 columns]

In [45]:
stats[["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]] = stat_ratios[["PTS", "AST", "STL", "BLK", "3P"]]

In [46]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,W/L%,GB,PS/G,PA/G,SRS,PTS_T,AST_R,STL_R,BLK_R,3P_R
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,0.707,5.0,106.3,99.6,6.73,1.013334,0.420714,0.961127,0.673469,0.508587
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,0.707,5.0,106.3,99.6,6.73,1.614653,1.028412,1.647646,0.673469,4.577279
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.707,5.0,106.3,99.6,6.73,0.311795,0.093492,0.274608,1.571429,0.000000
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.707,5.0,106.3,99.6,6.73,0.200440,0.186984,0.274608,0.000000,0.000000
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,0.707,5.0,106.3,99.6,6.73,2.383005,1.636110,1.784950,0.897959,1.525760

In [47]:
del stats["PTS_T"]

In [48]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,L,W/L%,GB,PS/G,PA/G,SRS,AST_R,STL_R,BLK_R,3P_R
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,24,0.707,5.0,106.3,99.6,6.73,0.420714,0.961127,0.673469,0.508587
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,24,0.707,5.0,106.3,99.6,6.73,1.028412,1.647646,0.673469,4.577279
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,24,0.707,5.0,106.3,99.6,6.73,0.093492,0.274608,1.571429,0.000000
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,24,0.707,5.0,106.3,99.6,6.73,0.186984,0.274608,0.000000,0.000000
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,24,0.707,5.0,106.3,99.6,6.73,1.636110,1.784950,0.897959,1.525760

In [49]:
stats["PTS_R"] = stat_ratios["PTS"]

In [50]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,W/L%,GB,PS/G,PA/G,SRS,AST_R,STL_R,BLK_R,3P_R,PTS_R
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,0.707,5.0,106.3,99.6,6.73,0.420714,0.961127,0.673469,0.508587,1.013334
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,0.707,5.0,106.3,99.6,6.73,1.028412,1.647646,0.673469,4.577279,1.614653
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.707,5.0,106.3,99.6,6.73,0.093492,0.274608,1.571429,0.000000,0.311795
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.707,5.0,106.3,99.6,6.73,0.186984,0.274608,0.000000,0.000000,0.200440
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,0.707,5.0,106.3,99.6,6.73,1.636110,1.784950,0.897959,1.525760,2.383005

In [51]:
predictors += ["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]

In [52]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [53]:
mean_ap

0.726619022474594

In [60]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators = 50, random_state=1, min_samples_split=5)

mean_ap, aps, all_predictions = backtest(stats, rf, years[28:], predictors)

In [61]:
mean_ap

0.7479028168624604

In [62]:
all_predictions

                 Player  Share  Predictions   Rk  Prediction_Rk  Diff
7659   Shaquille O'Neal  0.056     0.166517    9              1     8
10261    David Robinson  0.508     0.158178    2              2     0
5197    Hakeem Olajuwon  0.211     0.141349    4              3     1
10962    Michael Jordan  0.986     0.139470    1              4    -3
1700        Karl Malone  0.075     0.134787    7              5     2
...                 ...    ...          ...  ...            ...   ...
3730       Nerlens Noel  0.000    -0.053589  544            601   -57
11821        Wes Iwundu  0.000    -0.059832  288            602  -314
1216     Zavier Simpson  0.000    -0.085494  318            603  -285
12495    Derrick Walton  0.000    -0.094084  215            604  -389
1205     Melvin Frazier  0.000    -0.120796  326            605  -279

[12728 rows x 6 columns]

In [63]:
all_predictions.head(30)

                  Player  Share  Predictions   Rk  Prediction_Rk  Diff
7659    Shaquille O'Neal  0.056     0.166517    9              1     8
10261     David Robinson  0.508     0.158178    2              2     0
5197     Hakeem Olajuwon  0.211     0.141349    4              3     1
10962     Michael Jordan  0.986     0.139470    1              4    -3
1700         Karl Malone  0.075     0.134787    7              5     2
4883     Alonzo Mourning  0.005     0.111814   14              6     8
7645   Anfernee Hardaway  0.319     0.101192    3              7    -4
71       Charles Barkley  0.007     0.100890   13              8     5
14452         Shawn Kemp  0.065     0.096422    8              9    -1
8636       Patrick Ewing  0.000     0.082742   73             10    63
4452          Grant Hill  0.056     0.082101   10             11    -1
78         Kevin Johnson  0.000     0.078348  290             12   278
11381       Chris Webber  0.000     0.077994  198             13   185
956      Arvydas Sabonis  0.000     0.074947  281             14   267
9510     Terrell Brandon  0.003     0.073187   16             15     1
10965     Scottie Pippen  0.200     0.068679    5             16   -11
5195       Clyde Drexler  0.000     0.061916  391             17   374
14448        Gary Payton  0.087     0.060719    6             18   -12
1699       John Stockton  0.011     0.060516   11             19    -8
8737       Magic Johnson  0.007     0.060015   12             20    -8
8729     Cedric Ceballos  0.000     0.058714   68             21    47
2183       Reggie Miller  0.000     0.054757  233             22   211
8733      Elden Campbell  0.000     0.053595   88             23    65
11383   Gheorghe Mureșan  0.000     0.053013  196             24   172
966       Rod Strickland  0.000     0.051935  312             25   287
5146          Dino Radja  0.000     0.049895  393             26   367
2185           Rik Smits  0.000     0.044936  231             27   204
11035     Mitch Richmond  0.003     0.044654   17             28   -11
14444    Detlef Schrempf  0.000     0.043166  152             29   123
9528     Dikembe Mutombo  0.000     0.042133   30             30     0

In [56]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[28:], predictors)

In [57]:
mean_ap

0.726619022474594

In [58]:
all_predictions

                 Player  Share  Predictions   Rk  Prediction_Rk  Diff
10261    David Robinson  0.508     0.232863    2              1     1
5197    Hakeem Olajuwon  0.211     0.222629    4              2     2
7659   Shaquille O'Neal  0.056     0.222585    9              3     6
1700        Karl Malone  0.075     0.182403    7              4     3
10962    Michael Jordan  0.986     0.174162    1              5    -4
...                 ...    ...          ...  ...            ...   ...
3730       Nerlens Noel  0.000    -0.053589  544            601   -57
11821        Wes Iwundu  0.000    -0.059832  288            602  -314
1216     Zavier Simpson  0.000    -0.085494  318            603  -285
12495    Derrick Walton  0.000    -0.094084  215            604  -389
1205     Melvin Frazier  0.000    -0.120796  326            605  -279

[12728 rows x 6 columns]

In [59]:
all_predictions.head(30)

                  Player  Share  Predictions   Rk  Prediction_Rk  Diff
10261     David Robinson  0.508     0.232863    2              1     1
5197     Hakeem Olajuwon  0.211     0.222629    4              2     2
7659    Shaquille O'Neal  0.056     0.222585    9              3     6
1700         Karl Malone  0.075     0.182403    7              4     3
10962     Michael Jordan  0.986     0.174162    1              5    -4
8636       Patrick Ewing  0.000     0.149694   73              6    67
4883     Alonzo Mourning  0.005     0.146670   14              7     7
71       Charles Barkley  0.007     0.129388   13              8     5
14452         Shawn Kemp  0.065     0.115336    8              9    -1
956      Arvydas Sabonis  0.000     0.109081  281             10   271
4452          Grant Hill  0.056     0.105795   10             11    -1
7645   Anfernee Hardaway  0.319     0.096936    3             12    -9
8733      Elden Campbell  0.000     0.094575   88             13    75
11381       Chris Webber  0.000     0.092690  198             14   184
9528     Dikembe Mutombo  0.000     0.089015   30             15    15
9510     Terrell Brandon  0.003     0.085536   16             16     0
11383   Gheorghe Mureșan  0.000     0.084880  196             17   179
5146          Dino Radja  0.000     0.083941  393             18   375
5195       Clyde Drexler  0.000     0.071134  391             19   372
78         Kevin Johnson  0.000     0.066192  290             20   270
10965     Scottie Pippen  0.200     0.065472    5             21   -16
8729     Cedric Ceballos  0.000     0.063090   68             22    46
2185           Rik Smits  0.000     0.061700  231             23   208
9736       Shawn Bradley  0.000     0.061276   48             24    24
8740         Vlade Divac  0.000     0.060708  111             25    86
4884       Chris Gatling  0.000     0.060279  255             26   229
14448        Gary Payton  0.087     0.058653    6             27   -21
7372       Tom Gugliotta  0.000     0.051288  337             28   309
10826          Vin Baker  0.000     0.049643  177             29   148
1552       Oliver Miller  0.000     0.043528  311             30   281